/* General website */

body {
    font-family: 'Josefin Sans', sans-serif;
}

/* Header*/

header {
    text-align: center;
    font-size: 1.2rem;    
}

.logo {
    height: 50px;
    padding-right: 5px;
    position: relative;
    top: 10px;
}

/* Game area */

.game-area {
    text-align: center;
    height: 400px;
    width: 600px;
    margin: auto;
    /* border: 1px solid black; */
}

/* Question area */

#guesslabel {
    text-align: center;
    display: block;
    font-size: x-large;
    padding-top: 150px;
    padding-bottom: 20px;

}

#guessinput {
    text-align: center;
    display: block;
    margin: auto;
    font-size: 30px;
    width: 4em;
}

#guesssubmit {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#guesssubmit:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.02);
  }

/* Result area */

/* Reset button */

#resetbuttondiv button {
    margin-top: 30px;
    text-align: center;
    display: block;
    margin: auto;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#resetbuttondiv button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.02);
  }


/* Explanation area */

.explanation-area {
    text-align: center;
    height: 50px;
    width: 580px;
    margin: auto;
    padding: 10px;
    line-height: 25%;
    /* border: 1px solid black; */
}



/* footer*/

footer {
    margin-top: 50px;
    text-align: center;
}

footer > span {
    padding: 0px 20px;
}




