/* General website */

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    width: 500px;
    height: 650px;
    margin: auto;
    text-align: center;
    /* border: 1px solid black; */
}

/* Header*/

header {
    text-align: center;
    font-size: 1.2rem;
    /* border: 1px solid black;   */
    height: 80px;  
}

header h1 {
    margin: auto;
}

.logo {
    height: 50px;
    padding-right: 5px;
    position: relative;
    top: 10px;
}

/* Game area */

.game-area {
    /* border: 1px solid black; */
    height: 530px;
}

/* Question area */

#guesslabel {
    text-align: center;
    display: block;
    font-size: x-large;
    padding-top: 100px;
    padding-bottom: 20px;

}

#guessinput {
    text-align: center;
    display: block;
    margin: auto;
    font-size: 30px;
    width: 4em;
}

#guesssubmit {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#guesssubmit:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.02);
  }

/* Result area */

.result-area {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    /* border: 1px solid black; */
    display: hidden;
    height: 80px;
}

.result-area div {
    line-height: 150%;
}

/* Reset button */

#resetbuttondiv {
    /* border: 1px solid black; */
    display: hidden;
    height: 50px;
}

#resetbuttondiv button {
    margin-top: 30px;
    text-align: center;
    display: block;
    margin: auto;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#resetbuttondiv button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.02);
  }


/* Explanation area */

.explanation-area { 
    height: 514px;
    width: fit-content;
    padding: 0px 20px;
    margin: auto;
    /* line-height: 25%; */
    /* border: 1px solid black; */
    
}

.explanation-area p {
    padding-top: 200px;
    /* border: 1px solid black; */
    
}



/* footer*/

footer {
    /* border: 5px solid blue; */
    height: 30px;
    
    list-style: none;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    border-bottom: 2px solid black;
}



footer > span {
    padding: 0px 20px;
    
}

/* Different media */

@media screen and (max-width: 600px) {

    .container {
        width: 80%;
    }

    footer {
        line-height: 2rem;
    }

    footer span {
        display: block;
    }

    .game-area {
        height: fit-content;
    }

    .explanation-area {
        height: fit-content;
    }




}




